@import 'primeflex/primeflex.scss';

:root {
  font-size: 0.8rem;
  font-family: var(--font-family);
}

html, body, #__nuxt {
  height: 100%;
  margin: 0;
}

#__nuxt {
  padding: 1rem;
}

.p-menuitem-link.router-link-active.router-link-active-exact {
  //background-color: var(--primary-100);
  @include styleclass('bg-gray-200');
}
